body{
	background: url(../image/background.jpg);
background-size: cover;
}
h1{ color: darkorange;
	text-align: center;
	font-size:70px;
	text-decoration: underline;
	margin-bottom: 20px;
	padding-bottom: 370px;
	padding-top: 240px;
	margin-top: 1px;
	background:url(../image/bjp.jpg);
	background-size: cover;
}
p{	margin:40px;
	text-align: center;
	font-size: 18px;
	font-family:Grenze;
	
}

span{
		font-size: 1.5em;
	}
img{
	padding-left: 60px;
	margin: 5px;
	margin-top:30px;
}
ul img{
	margin-left: 300px;
}
ul h2{
	text-align: center;
	position: relative;
	color: red;
	font-size:30px;
	text-decoration: underline;
}
.anu{
	
	}
.abhi{
	
}
ol{
	font-size: 20px;

}
h3{
	color: #0F7CA2;
	font-size: 30px;
	text-align: center;

}


ol{
	left: 630px;
	position: absolute;
}

.singh{
	margin-bottom:20px;
	padding-bottom:50px;
}
.heading{
	left:50px;
}

footer {
	display: block;
  }


  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: inherit;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: white;
  }



