body {
	background-image: url(../image/background.jpg);
	background-size: cover;
}

p {
	margin:40px;
	text-align: center;
	font-size: 18px;
	font-family: Grenze;
}

span {
	font-size: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 30px auto;
	display: block;
}

ul h2 {
	text-align: center;
	position: relative;
	color: red;
	font-size:30px;
	text-decoration: underline;
}

ol {
	font-size: 20px;
}

h3 {
	color: #0F7CA2;
	font-size: 30px;
	text-align: center;
}

.header__bg h1 { 
	font-weight: bold;
	color: darkorange;
}

.singh {
	margin-bottom: 20px;
	padding-bottom: 50px;
}

.heading {
	left: 50px;
}
