h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.nav li {
    float: left;
}

.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: #111;
}

.nav .active {
    background-color: #4CAF50;
}