.main-home {
  padding: 0;
  height: 100%;
}
.section-header {
  position: relative;
  max-height: 90vh;
  overflow: hidden;
}
.section-header h1 {
  font-size: 5em;
  color: #ffd739;
  text-shadow: 6px 0px 2px #444;
  letter-spacing: 0.5em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.section-header img {
  width: 100%;
}

.section-description img {
  width: 70%;
  min-width: 250px;
  float: right;
  margin: 0 0 0 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.section-description p span {
  font-weight: bold;
}
.main-home p {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  /* color: #444 */
}
.main-home p::first-letter {
  font-size: 5em;
  float: left;
}
.section-description,
.section-history, .footer {
  padding: 2em;
  background: #96d1c7;
  margin: 2em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.section-history {
  background: #96d1c7;
}
.section-history h2 {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
}
.section-history img {
  max-width: 100%;
  float: left;
  margin-right: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
  .section-header h1 {
    font-size: 4em;
  }
  
}
@media (max-width: 600px) {
  .section-header h1 {
    font-size: 2em;
  }
  .section-description, .section-history{
    margin: 10px 0;
    padding: 1em;
  }
}
