@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: url(../image/background.jpg);
  background-size: cover; */
  background-color: #5eb7b7;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 80px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
  position: absolute;
  /* background-color: #5eb7b7; */
  /* background: url(../image/background.jpg); */
}

.nav-bare {
  margin-top: 30px;
  text-align: end;
}
.link {
  color: gold;
  font-size: 1.3em;
  text-decoration: none;
  margin-right: 30px;
  padding: 5px 20px;
  /* border: thin solid purple; */
  background: #5eb7b7;
  border-radius: 20px;
  vertical-align: middle;
}

.link:hover {
  color: #5eb7b7;
  background: gold;
}
