h1{
	margin-bottom: 70px; 
	text-align: center;
	background: url(https://www.wbcsd.org/var/site/storage/images/programs/people/sustainable-development-goals/news/leading-chemical-companies-and-industry-associations-contribute-to-the-realization-of-the-sdgs/69378-2-eng-GB/Leading-chemical-companies-and-industry-associations-chart-a-course-towards-collaboratively-maximizing-potential-to-contribute-to-the-realization-o_i1140.jpg);
background-size: cover;
padding: 100px;
font-size: 50px;
}
p{
	text-align:center;
	font-size:20px;
}
ol{
	text-align: center; 
}
.singh{
	font-size:20px;
}